div(class="panel panel-info")
    div(class="panel-heading")
        h3 创建考试
    div(class="panel-body panelBody")
        div(class="col-xs-8 col-xs-offset-2")
            label 考试所属课程
            select(class="form-control mb-5" ng-model="courseSelected" ng-options="course.name for course in courses")
            label 考试名称
            input(class="form-control")