div(class="panel panel-info")
    div(class="panel-heading")
        h3 创建考试
    div(class="panel-body panelBody")
        div(class="col-xs-8 col-xs-offset-2")
            label 考试所属课程
            select(class="form-control mb-5" ng-model="courseSelected" ng-change="getCourseExerciseBanks()" ng-options="course.cname for course in courses")
            label 考试名称
            input(class="form-control mb-5" ng-model="examName")
            label 考试开始日期
            div(class="input-group mb-5")
                input(readonly type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="examStartDate" is-open="isStartDateOpen" datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" popup-placement="bottom-right")
                span(class="input-group-btn")
                    button(type="button" class="btn btn-primary" ng-click="startDateOpen()")
                        i(class="glyphicon glyphicon-calendar")
            label 考试结束日期
            div(class="input-group mb-5")
                input(readonly type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="examEndDate" is-open="isEndDateOpen" datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" popup-placement="bottom-right")
                span(class="input-group-btn")
                    button(type="button" class="btn btn-primary" ng-click="endDateOpen()")
                        i(class="glyphicon glyphicon-calendar")
            label 考试开始时间
            div(class="mb-5" uib-timepicker ng-model="startTime" hour-step="hstep" minute-step="mstep")
            label 考试结束时间
            div(class="mb-5" uib-timepicker ng-model="endTime"  hour-step="hstep" minute-step="mstep" min="startTime")
            div(class="checkbox")
              label
                input(type="checkbox" ng-model="isMock")
                是否模拟考试
            label 考试时长
            input(class="form-control mb-5" type="number" min="0" ng-model="duration" placeholder="单位为分钟")
            label 题库
            //input(type="number" min="1" class="form-control mb-5" ng-model="exerciseNum" placeholder="题目数量" uib-tooltip="请输入考试题目数量" tooltip-trigger="'focus'" tooltip-placement="top")
            hr
            div(class="input-group mb-10" ng-repeat="eb in ebs")
                span(class="input-group-addon") {{eb.ename}}
                input(type="number" min="0" class="form-control" ng-model="eb.exerciseNum" uib-tooltip="{{'请输入从' + eb.ename + '题库选取的题目数，' }}" tooltip-trigger="'focus'" tooltip-placement="top")
            div(class="bg-white mt-10 pt-5 pr-10 pr-10 pb-5 pl-20" ng-if="!ebs || ebs.length == 0")
                div(class="fs-16") 暂无题库
            hr
            button(class="btn btn-primary pull-right" ng-click="submit()") 创建考试
