div(class="panel panel-info")
    div(class="panel-heading")
        h4 新建题库
    div(class="panel-body panelBody")
        div(class="col-xs-8 col-xs-offset-2")
            label 题库所属课程
            select(class="form-control" ng-model="courseSelected" ng-options="course.cname for course in courses" required)
            p
            label 题库名称
            input(class="form-control" ng-model="exerciseBank.name" placeholder="例如：无机化学")
            p
            button(class="btn btn-primary pull-right" ng-click="submit()") 确认

