div(class="panel panel-info")
    div(class="panel-heading")
        h4(uib-dropdown)
            span(uib-dropdown-toggle class="panel-dropdown-toggle")
                span(ng-if="status == 'single'") 单个添加
                span(ng-if="status == 'multiple'") 批量添加
                i(class="fa fa-fw fa-caret-down")
            ul(class="dropdown-menu" uib-dropdown-menu role="menu")
                li(class="menuitem")
                    a(ui-sref=".multiple" ng-click="changeStatus('multiple')") 批量添加
                li(class="menuitem")
                    a(ui-sref=".single" ng-click="changeStatus('single')") 单个添加
    div(class="panel-body panelBody")
        div(ui-view="")