div(modal-center)
    div(class="modal-body text-center" id="modal-body")
         p {{des}}
    div(class="modal-footer")
        button(class="btn btn-primary btn-sm" type="button" ng-click="ok()") 确定
        button(class="btn btn-warning btn-sm" type="button" ng-click="cancel()") 取消