div(class="col-xs-8 col-xs-offset-2")
    table(class="table table-hover table-bordered")
        thead
            tr
                th(class="text-center") 工号
                th(class="text-center") 姓名
                th(class="text-center") 操作
        tbody
            tr(ng-repeat="teacher in teachers" class="text-center")
                td {{teacher.tid}}
                td {{teacher.tname}}
                td hahahahahah