div(class="content-container")
    div(class="panel panel-info")
        div(class="panel-heading")
            h1(class="panel-title") 课程教师
        div(class="panel-body")
            span {{teachers}}
    div(class="panel panel-warning")
        div(class="panel-heading")
            h1(class="panel-title") 课程面向
        div(class="panel-body")
            span {{remark}}
    div(class="panel panel-success")
        div(class="panel-heading")
            h1(class="panel-title") 课程描述
        div(class="panel-body")
            div(ng-bind-html="description | trustHtml")