ul(class="nav nav-tabs nav-pills")
    //li(role="presentation" uib-btn-radio="'course-home'" ng-model="checked")
        a(ui-sref="logined.courseDetail.courseHome({courseID: courseID})") 课程主页
    li(role="presentation" uib-btn-radio="'course-data'" ng-model="checked" uib-dropdown)
        a(uib-dropdown-toggle ui-sref="logined.courseDetail.courseData({courseID: courseID})" ng-if="userInfo.level == 1") 课程资料
        a(uib-dropdown-toggle ng-if="userInfo.level == 2" ui-sref="logined.courseDetail.courseData({courseID: courseID})") 课程资料
            i(class="caret")
        ul(class="dropdown-menu" uib-dropdown-menu role="menu" ng-if="userInfo.level == 2")
            li(role="menuitem")
                a(ui-sref="logined.courseDetail.courseData({courseID: courseID})") 所有课件
            li(role="menuitem")
                a(ui-sref="logined.courseDetail.addCourseData({courseID: courseID})") 上传课件
    li(role="presentation" uib-btn-radio="'add-members'" ng-model="checked" uib-dropdown)
        a(ui-sref="logined.courseDetail.addMembers.multiple") 添加成员
    li(role="presentation" uib-btn-radio="'course-members'" ng-model="checked")
        a(ui-sref="logined.courseDetail.courseMembers.student") 课程成员
div(ui-view="")