ul(class="nav nav-tabs nav-pills" ng-if="userInfo.level == 1")
    li(role="presentation" uib-btn-radio="'my-exams'" ng-model="checked")
        a(ui-sref="logined.examSystem.myExams") 我的考试
ul(class="nav nav-tabs nav-pills" ng-if="userInfo.level == 2")
    li(role="presentation" uib-btn-radio="'my-exams'" ng-model="checked")
        a(ui-sref="logined.examSystem.myExams") 我的考试
    li(role="presentation" uib-btn-radio="'add-exam'" ng-model="checked")
        a(ui-sref="logined.examSystem.addExam") 创建考试
div(ui-view="")