ul(class="nav nav-tabs nav-pills")
    li(role="presentation" uib-btn-radio="'all-questions'" ng-model="checked")
        a(ui-sref="logined.examDetail.allQuestions({examID: eid})") 考试题目
    //li(role="presentation" uib-btn-radio="'exam-result'")
      //  a 考试结果
div(ui-view="")