div(class="panel panel-info")
    div(class="panel-heading")
        h4 题库管理
    div(class="panel-body panelBody")
        table(class="table table-hover table-bordered")
            thead
                tr
                    th(class="text-center") 题库名称
                    th(class="text-center") 题库所属课程
                    th(class="text-center") 操作
            tbody
                tr(ng-repeat="eb in ebs" class="text-center")
                    td {{eb.ename}}
                    td {{eb.cname}}
                    td
                        div(class="btn-group")
                            button(class="btn btn-sm btn-info mr-5" ng-click="edit(eb)") 编辑
                            button(class="btn btn-sm btn-danger mr-5" ng-click="delete(eb)") 删除
