div(class="content-container")
    div(ng-if="userInfo.level == 1" class="panel" ng-repeat="question in questions" ng-class="{'panel-success' : question.isTrue, 'panel-danger' : !question.isTrue && question.isShow, 'panel-info': !question.isShow}")
        div(class="panel-heading")
            h4 Question {{$index + 1}}
        div(class="panel-body")
            div(ng-bind-html="question.description | trustHtml" class="mb-10")
            div(ng-repeat="option in options[$index]")
                label(class="checkbox-inline")
                    input(type="checkbox" ng-model="option.checked" ng-disabled="question.isShow")
                    span {{option.op + ". "}}
                    span(ng-bind-html="option.description | trustHtml")
            div(ng-if="question.isShow" class="alert mt-10" role="alert" ng-class="{true: 'alert-success', false: 'alert-danger'}[question.isTrue]")
                span 正确答案: {{question.answers}}
            button(ng-disabled="question.isShow" ng-if="!question.isShow" class="btn btn-sm btn-primary pull-right" ng-click="submit(options[$index], $index)") 提交
    div(ng-if="userInfo.level == 2" class="panel panel-info" ng-repeat="question in questions")
        div(class="panel-heading")
            h4 Question {{$index + 1}}
        div(class="panel-body")
            div(ng-bind-html="question.description | trustHtml" class="mb-10")
            div(ng-repeat="option in options[$index]")
                span {{option.op + ". "}}
                    span(ng-bind-html="option.description | trustHtml")
            div(class="alert mb-10 mt-10 alert-info" role="alert")
                span 正确答案: {{question.answer}}
            div(class="btn-group pull-right")
                button(class="btn btn-sm btn-primary mr-10" ng-click="edit(question, options[$index])") 编辑
                button(class="btn btn-sm btn-danger" ng-click="delete(question)") 删除
    div(class="bg-white mt-10 pt-5 pr-10 pr-10 pb-5 pl-20" ng-if="questions.length == 0")
        div(class="fs-16") 暂无数据
    div(class="panel panel-default question-answer-progress" ng-if="userInfo.level == 1 && status == 'uncompleted'")
        div(class="panel-heading")
            h2(class="panel-title") 进度
        div(class="panel-body")
            div(class="progress")
                div(class="progress-bar" role="progressbar" aria-valuenow="{{done}}" aria-valuemin="0" aria-valuemax="{{questions.length}}" ng-style="{'width' : (done / questions.length) * 100 + '%'}" style="width: 0%;")
            span {{done}} / {{questions.length}}
    div(class="panel panel-default question-answer-progress" ng-if="userInfo.level == 1 && status == 'completed'")
        div(class="panel-heading")
            h2(class="panel-title") 正确率
        div(class="panel-body")
            div(class="progress")
                div(class="progress-bar" role="progressbar" aria-valuenow="{{correctNum}}" aria-valuemin="0" aria-valuemax="{{questions.length}}" ng-style="{'width' : (correctNum / questions.length) * 100 + '%'}" style="width: 0%;")
            span {{correctNum}} / {{questions.length}}