div(class="container-content")
    div(class="col-xs-10 col-xs-offset-1 mt-20")
        div(class="panel panel-info")
            div(class="panel-heading")
                h1(class="panel-title") 学习情况
            div(class="panel-body panelBody")
                table(class="table")
                    thead
                        tr
                            th(class="text-center") 学号
                            th(class="text-center") 姓名
                            th(class="text-center") 进度
                            th(class="text-center") 已学时长
                    tbody
                        tr(ng-repeat="result in results" class="text-center")
                            td {{result.sid}}
                            td {{result.sname}}
                            td {{result.progress * 100}}%
                            td
                                span(ng-if="result.learningTime") {{result.learningTime}}分钟
                                span(ng-if="!result.learningTime") 0分钟

