div(class="container-content")
    div(class="col-xs-10 col-xs-offset-1 mt-20")
        div(class="panel panel-info")
            div(class="panel-heading")
                h1(class="panel-title") 学习情况
            div(class="panel-body panelBody")
                table(class="table")
                    thead
                        tr
                            th 学号
                            th 姓名
                            th 进度
                            th 已学时长
                    tbody


