div(class="content-container")
    div(class="bg-white pt-10 pb-20 message-detail")
        div(class="message-title text-center")
            h1(class="mb-10") hahha
            div(class="message-detail-info")
                span 六月 17, 2017 / HandsomeChan / ％1 $ S
