div(class="content-container")
    div(class="course-item bg-white pt-5 pr-10 pr-10 pb-5 pl-20 mr-15 mb-15 inbl" ng-repeat = "eb in result")
        div(class="fs-16 pt-10 pb-10")
            a(ng-if="userInfo.level == 1" ui-sref="logined.exerciseBankDetail.exercise({exerciseBankID: eb.eid, status: 'uncompleted'})") {{eb.cname + " / " + eb.ename}}
            a(ng-if="userInfo.level == 2" ui-sref="logined.exerciseBankDetail.exercise({exerciseBankID: eb.eid, status: 'all'})") {{eb.cname + " / " + eb.ename}}
        div(class="fs-13 mb-10" ng-class="{1: 'cl-info', 2: 'cl-success'}[userInfo.level]")
            i(class="fa-users fa fa-fw mr-10 fa-user-circle-o")
            span(ng-if="userInfo.level == 1") 角色是学生
            span(ng-if="userInfo.level == 2") 角色是老师
        div(class="fs-13 mb-5 mr-20")
            i(class="fa fa-fw fa-bar-chart mr-10")
            span 题目 {{counts[$index][0].exerciseNum? counts[$index][0].exerciseNum: 0}}
    div(class="bg-white mt-10 pt-5 pr-10 pr-10 pb-5 pl-20" ng-if="result.length == 0")
        div(class="fs-16") 暂无数据