div
    div(class="btn-group pull-right mr-15")
        label(class="btn btn-sm btn-default" ng-model="radioModel" uib-btn-radio="'notStarted'" ng-click="changeStatus('notStarted')") 未开始
        label(class="btn btn-sm btn-default" ng-model="radioModel" uib-btn-radio="'progressing'" ng-click="changeStatus('progressing')") 进行中
        label(class="btn btn-sm btn-default" ng-model="radioModel" uib-btn-radio="'ended'" ng-click="changeStatus('ended')") 已结束
    div(class="content-container")
        div(class="course-item bg-white pt-5 pr-10 pr-10 pb-5 pl-20 mr-15 mb-15 inbl" ng-repeat = "exam in exams")
            div(class="fs-16 pt-10 pb-10")
                a(ng-if="exam.startExamTime === null" href="#" ng-click="showConfirm(exam)") {{exam.cname}} / {{exam.ename}}
                a(ng-if="exam.startExamTime !== null" ui-sref="logined.examDetail.allQuestions({examID: exam.eid, status: status})") {{exam.cname}} / {{exam.ename}}
            div(class="fs-13 mb-10 cl-warning")
                i(class="fa fa-fw fa-calendar mr-10")
                //- span(class="mr-10") {{exam.startTime | date: 'yyyy-MM-dd'}}
                //- i(class="fa fa-fw fa-clock-o ml-20 mr-10")
                //- span {{exam.startTime | date: 'HH:mm:ss'}} - {{exam.endTime | date: 'HH:mm:ss'}}
                span {{exam.startTime | date: 'yyyy-MM-dd HH:mm:ss'}} - {{exam.endTime | date: 'yyyy-MM-dd HH:mm:ss'}}
            div(class="fs-13 mb-10 ")
                span(ng-class="{1: 'cl-info', 2: 'cl-success'}[userInfo.level]")
                    i(class="fa-users fa fa-fw mr-10 fa-user-circle-o")
                    span(ng-if="userInfo.level == 1") 角色是学生
                    span(ng-if="userInfo.level == 2") 角色是老师
                span(ng-class="{'notStarted': 'cl-yellow', 'progressing': 'cl-green', 'ended': 'cl-danger'}[status]")
                    i(class="fa fa-fw fa-circle mr-10 ml-20")
                    span(ng-if="status == 'notStarted'") 未开始
                    span(ng-if="status == 'progressing'") 进行中
                    span(ng-if="status == 'ended'") 已结束
        div(class="bg-white mt-10 pt-5 pr-10 pr-10 pb-5 pl-20" ng-if="exams.length == 0")
            div(class="fs-16") 暂无数据
