ul(class="nav nav-tabs nav-pills")
    li(role="presentation" uib-btn-radio="'users-management'" ng-model="checked")
        a(ui-sref="logined.usersManagement.addUser.multiple") 添加用户
    li(role="presentation" uib-btn-radio="'users-list'" ng-model="checked")
        a(ui-sref="logined.usersManagement.usersList.student") 用户列表
div(ui-view="")