html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f1f1f1 !important;
  font-family: Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.myNav {
  padding-right: 0 !important;
  height: 100%;
  margin-top: 50px;
}

.navNarrow {
  width: 55px;
}

.navWide {
  width: 137px;
}

.logoutBottom {
  position: relative !important;
  top: 50%;
}

.Offset {
  margin-left: 60px;
}

.header {
  width: 100%;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 6;
}

.logo {
  height: 50px;
  background-size: contain;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
}

.formInterval {
  margin-top: 20px;
  margin-bottom: 20px;
}

.panelBody {
  min-height: 500px;
}

.content-container {
  padding: 36px;
}

.block-container {
  padding: 36px;
  border-radius: 5px;
}

.course-item {
  max-width: 400px;
  width: 90%;
}

.courseWare-item {
  max-width: 400px;
  height: 200px;
  width: 90%;
}

.bg-white {
  background-color: #ffffff;
}

.inbl {
  display: inline-block;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-10 {
  padding-right:10px;
}

.pr-20 {
  padding-right:20px;
}


.pl-10 {
  padding-left:10px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-5 {
  padding-bottom:5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}


.fs-13 {
  font-size: 13px;
}

.fs-16 {
  font-size: 16px;
}

.cl-info {
  color: #5bc0de;
}

.cl-green {
  color: #00ce00;
}

.cl-success {
  color: #5cb85c;
}

.cl-warning {
  color: #f0ad4e;
}

.cl-danger {
  color: #ff3535;
}

.cl-yellow {
  color: #ffae1b;
}

.file {
  opacity: 0;
  width: 110.047px !important;
  height: 34px !important;
  position: absolute;
  left: 0px;
  top: 0px;
}

.upload-btn {
  position: relative;
  overflow: hidden;
  width: 110.047px !important;
  height: 34px !important;
}

.question-answer-progress {
  z-index: 5;
  position: fixed;
  top: 70px;
  right: 10px;
  color: #479ea2;
  font-size: 25px;
  max-width: 390px;
  min-width: 318px;
  width: 30%;
}

.question-answer-progress .progress {
  width: 65%;
  display: inline-block;
  margin: 0 20px 0 0;
}

.rankList {
  width: 45%;
  min-width: 400px;
  margin-right: 5%;
  display: inline-block;
  height: 554px;
  float: left;
  position: relative;
}

.rankList .pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.gdf {
  width: 45%;
  min-width: 400px;
  display: inline-block;
  height: 554px;
}

.chart {
  max-height: 250px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 106px;
}

.posRelative {
  position: relative !important;
}

.alignRight {
  position: absolute !important;
  right: 0;
  clear: both;
}

.messages-list ul, .courseWare-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  height: auto;
  background-color: #f5f5f5;
}

.messages-list ul li, .courseWare-list ul li {
  background-color: #fff;
  padding: 15px 30px 15px 30px;
  height: 111px;
  border-bottom: 1px solid #eee;
}

.courseWare-list ul li:first-of-type {
  height: 60px;
  line-height: 30px;
  border-bottom: 1px solid #D1D6DA;
  font-size: 16px;
  font-weight: bold;
  color: #99a0a6;
}

.courseWare-list ul li:first-of-type:hover {
  background-color: #fff;
}

.messages-list ul li:hover, .courseWare-list ul li:hover {
  background-color: #eee;
}

.message-op {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}


.message-op a {
  text-decoration: none !important;
}

.message-op a:hover {
  cursor: pointer;
}

.message-info, .courseWare-name {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.message-info .message-poster {
  color: #31708f;
}

.message-type, .learning-progress {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aaa;
}

.message-postTime, .learning-time {
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #aaa;
}

.learning-status {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  color: #aaa;
}

.message-detail {
  min-height: 550px;
}

.message-detail-info {
  color: #9d9d9d;
  font-size: 12px;
}

.messagesUnread {
  display: inline-flex;
  width: 18px;
  height: 18px;
  font-size: 12px;
  color: white;
  border-radius: 9px;
  background-color: #ff3535;
  justify-content: center;
  align-items: center;
}

.h-100 {
  height: 100%
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #fff ;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgba(7, 170, 247, 0.7);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgba(7, 170, 247, 1);
}
