html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f1f1f1 !important;
  font-family: Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.myNav {
  padding-right: 0 !important;
  height: 100%;
  margin-top: 50px;
}

.navNarrow {
  width: 55px;
}

.navWide {
  width: 137px;
}

.logoutBottom {
  position: relative !important;
  top: 50%;
}

.Offset {
  margin-left: 60px;
}

.header {
  width: 100%;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 6;
}

.logo {
  height: 50px;
  background-size: contain;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
}

.formInterval {
  margin-top: 20px;
  margin-bottom: 20px;
}

.panelBody {
  min-height: 500px;
}

.content-container {
  padding: 36px;
}

.block-container {
  padding: 36px;
  border-radius: 5px;
}

.course-item {
  max-width: 400px;
  width: 90%;
}

.courseWare-item {
  max-width: 400px;
  height: 200px;
  width: 90%;
}

.bg-white {
  background-color: #ffffff;
}

.inbl {
  display: inline-block;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-50 {
  margin-top: 50px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-60 {
  padding-top: 60px;
}

.pr-10 {
  padding-right:10px;
}

.pl-10 {
  padding-left:10px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-5 {
  padding-bottom:5px;
}

.pb-10 {
  padding-bottom: 10px;
}


.fs-13 {
  font-size: 13px;
}

.fs-16 {
  font-size: 16px;
}

.cl-info {
  color: #5bc0de;
}

.cl-green {
  color: #00ce00;
}

.cl-success {
  color: #5cb85c;
}

.cl-warning {
  color: #f0ad4e;
}

.file {
  opacity: 0;
  width: 110.047px !important;
  height: 34px !important;
  position: absolute;
  left: 0px;
  top: 0px;
}

.upload-btn {
  position: relative;
  overflow: hidden;
  width: 110.047px !important;
  height: 34px !important;
}

.question-answer-progress {
  z-index: 5;
  position: fixed;
  top: 70px;
  right: 10px;
  color: #479ea2;
  font-size: 25px;
  max-width: 390px;
  min-width: 318px;
  width: 30%;
}

.question-answer-progress .progress {
  width: 65%;
  display: inline-block;
  margin: 0 20px 0 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #fff ;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgba(7, 170, 247, 0.7);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgba(7, 170, 247, 1);
}
